# better auth
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="S6aY2sxb9pn6V8XcPCkCVJL"
# app url
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
# database
MONGODB_URI="mongodb_connection_string"
REDIS_USERNAME="redis_username"
REDIS_PASSWORD="redis_password"
REDIS_HOST="redis_host"

# google auth
GOOGLE_CLIENT_ID="google_oauth_id"
GOOGLE_CLIENT_SECRET="google_oauth_secret"
# cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="cloudinary_cloud_name"
NEXT_PUBLIC_CLOUDINARY_API_KEY="cloudinary_api_key"
CLOUDINARY_API_SECRET="cloudinary_api_secret"
# nodemailer
SMTP_USER="maid_id"
SMTP_PASS="smtp_app_password"
INNGEST_DEV=1 # for development only