# better auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="" # frontend url
# app url
NEXT_PUBLIC_BASE_URL="" # frontend url
# database
MONGODB_URI=""
# google auth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
